body {
	height: auto;
	width: 1040px;
	padding:0;
	margin:0;
	margin-left: auto;
	margin-right: auto;
	font-family:Tahoma;
    font-size:13px;
}

.page1,
.page2 {
	height: 1470px;
	width: 1040px;
	padding: 0;
	margin: 0;
	float: left;
}

.page_wrapper {
	width:100%;
	height:770px;
	float:left;
	background-color:#fff;
}

.table{
	width:960px;
	margin:0;
	padding:0;
	border-spacing:0;
}
.left_border {
    border-left:4px solid #000;
}
.right_border {
    border-right:4px solid #000;
}
.top_border {
    border-top:4px solid #000;
}
.bottom_border {
    border-bottom:4px solid #000;
}
.gray {
    color:#515151;
}
.black {
    color:#000;
}
.bold_text {
    font-weight:bold;
}
.align_left {
    text-align:left;
}
.align_center {
    text-align:center;
}
.align_right {
    text-align:right;
}
.text_uppercase {
    text-transform:uppercase;
}
.big_text {
    font-size:15px;
}
.first {
    width:318px;
}
.second {
    width:158px;
}
.third {
    width:158px;
}
.second_third {
    width:318px;
}
.forth {
    width:68px;
}
.fifth {
    width:123px;
}
.sixth {
    width:123px;
}
.fifth_sixth {
    width:248px;
}
.white_space {
    height:20px;
}

.image_wrapper {
    margin-left:70px;
    text-align:center;
}
.image_wrapper img{
    float:left;
}
.spacer {
    height:540px;
    width:100%;
}
.footer {
    width:100%;
    height:auto;
    height:40px;
}
.footer p {
    margin:0;
    padding:0;
    color:#000;
    font-weight:bold;
}
.left_text,
.right_text{
    text-align: left;
    width: 20%;
    float: left;
}
.right_text {
    margin-top:15px;
    text-align:right;
}
.center_text {
    text-align: center;
    width: 60%;
    float: left;
    margin-top:15px;
}
.row_wrapper {
    width:100%;
    height:470px;
    border:1px solid #ccc;
    margin-bottom:5px;
}
.legend_table {
    width:960px;
	margin:0;
	padding:0;
	border-spacing:0;
}
.legend_table tr td{
    border-width:1px !important;
    border-color:#ccc !important;
}
.legend_table span {
    width:10px;
    height:10px;
    margin-top:4px;
    margin-left:4px;
    float:left;
}
.legend_table .blue {
    background-color:rgba(30, 144, 255, 1);
}
.legend_table .red {
    background-color:rgba(255, 69, 0, 1);
}
.legend_table .fixed_width {
    width:60px;   
}
.chart_text {
    float:left;
    width:70px;
    height:350px;
    position:relative;
}
#trosoci {
    position:absolute;
    top:80px;
}
#prihodi {
    position:absolute;
    top:175px;
}
#title_chart1 {
    position: absolute;
    top: 0;
    left: 350px;
    width: 265px;
    font-weight: normal;
    font-size: 24px;
}
#title_chart2,
#title_chart3 {
    width: 100%;
    text-align:center;
    font-weight: normal;
    font-size: 24px;
}
.image_wrapper.no_float img {
    clear:both;
    float:none;
}