<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bonitet.CRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bonitet.CRM.Properties.Settings>
            <setting name="Bonitet_CRM_CRMService_XmlWebService" serializeAs="String">
                <value>https://e-test.crm.com.mk/XWSS/XmlWebService.asmx</value>
            </setting>
            <setting name="Bonitet_CRM_CRMServiceProxy_CRMServiceProxy" serializeAs="String">
                <value>http://79.125.192.45:9000/CRMServiceProxy.asmx</value>
            </setting>
        </Bonitet.CRM.Properties.Settings>
    </applicationSettings>
</configuration>