<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="Bonitet.Web.Properties.Settings.TargetFinancialConnectionString1"
          connectionString="Data Source=.\SQL2008R2;Initial Catalog=TargetFinancialDev;Persist Security Info=True;User ID=TargetBM;Password=Posejdon@2015" />
      <add name="Bonitet.Web.Properties.Settings.BiznisMrezaConnectionString1"
          connectionString="Data Source=.\SQL2008R2;Initial Catalog=BiznisMrezaTest;Persist Security Info=True;User ID=TargetBM;Password=Posejdon@2015" />
      <add name="Bonitet.DAL.Properties.Settings.TargetFinancialConnectionString1"
          connectionString="Data Source=.\SQL2008R2;Initial Catalog=TargetFinancialDev;Persist Security Info=True;User ID=TargetBM;Password=Posejdon@2015"
          providerName="System.Data.SqlClient" />
      <add name="Bonitet.DAL.Properties.Settings.BiznisMrezaConnectionString1"
          connectionString="Data Source=.\SQL2008R2;Initial Catalog=BiznisMrezaTest;Persist Security Info=True;User ID=TargetBM;Password=Posejdon@2015"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/>
        <add name="Access-Control-Allow-Headers" value="Access-Control-Allow-Headers, Access-Control-Allow-Origin, Origin,Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers, dataType"/>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="boniteti@targetgroup.mk">
        <network defaultCredentials="false" host="mail.targetgroup.mk" password="Biznismreza01" port="587" userName="boniteti@targetgroup.mk"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="defaultEmail" value="boniteti@targetgroup.mk" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Bonitet.Web.Services.ReportServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="debug" name="Bonitet.Web.Services.ReportService">
        <endpoint 
          binding="mexHttpBinding" address="mex" contract="Bonitet.Web.Services.ReportService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>