<div class="page">
    <div class="header">
        <div class="float_left">
            <h2>Значење на семафорот и индикаторите</h2>
            <h3>Таргет Груп ДОО Скопје</h3>
        </div>
        <div class="absolute_poglavje">
            <p>Поглавје 6</p>
        </div>
    </div>
    <div id="znacenje_wrapper">
        <div class="p_wrapper full">
            <div class="content">
                <table class="znacenje_table">
                    <tr>
                        <td>
                            <p><span><b>Индикатор</b></span></p>
                        </td>
                        <td>
                            <p><span><b>Значење</b></span></p>
                        </td>
                    </tr>
                    <tr class="gray">
                        <td>
                            <p>Работен капитал</p>
                        </td>
                        <td>
                            <p>Претставува капитал кој и е потребен на компанијата за тековното работење. Кога работниот капитал е негативен значи дека компанијата со краткорочни извори финансира долгорочни средства.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Тековна ликвидност </p>
                        </td>
                        <td>
                            <p>Ја покажува способноста на компанијата со тековните средства да ги покрие краткорочните обврски. Колку е повисок показателот, толку компанијата е поликвидна.</p>
                        </td>
                    </tr>
                    <tr class="gray">
                        <td>
                            <p>Брз показател</p>
                        </td>
                        <td>
                            <p>Ја покажува способноста на компанијата преку најликвидните тековни средства ( побарувања и парични средства) да ги покрие краткорочните обврски. Солидно ниво на показателот се смета дека е над 1, но може да се разликува во зависност од природата на работењето на компанијата.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Обрт на побарувања и денови на обрт на побарувања</p>
                        </td>
                        <td>
                            <p>Показателот ја покажува ефикасноста на кредитната политика на компанијата, односно колку пати во текот на годината компанијата успева да ги наплати своите побарувања. Колку е поголем обртот на побарувањата, толку е помал бројот на денови на наплата на побарувањата.</p>
                        </td>
                    </tr>
                    <tr class="gray">
                        <td>
                            <p>Обрт на залихи и денови на обрт на залихи</p>
                        </td>
                        <td>
                            <p>Показателот покажува колку пати компанијата успева да ги претвори залихите во пари. Колку е поголем обртот на залихите, толку е помал бројот на денови на претварање на залихите во парични средства</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Обрт на средства и денови на обрт на средства</p>
                        </td>
                        <td>
                            <p>Показателот покажува колку пати годишно компанијата успева да направи обрт на своите средства, односно колку ефикасно компанијата ги користи своите средства. Колку е поголем обртот, толку е помал бројот на денови на обрт на средствата на компанијата.</p>
                        </td>
                    </tr>
                    <tr class="gray">
                        <td>
                            <p>Обрт на обврски и денови на обрт на обврски</p>
                        </td>
                        <td>
                            <p>Показателот покажува колку пати компанијата во текот на годината успева да ги исплати своите обврски. Колку компанијата има помал број на денови на исплата на обврските, толку обртот на обврски на компанијата е поголем.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>ROA (принос на вкупни средства)</p>
                        </td>
                        <td>
                            <p>Показателот ја прикажува способноста и ефикасноста на менаџментот во користењето на вкупните средства на компанијата за генерирање профит. Прифатлива стапка на принос на средства е над 6%. Колку компанијата има повисока стапка на поврат на вкупни средства, толку поефикасно ги користи своите средства</p>
                        </td>
                    </tr>
                    <tr class="gray">
                        <td>
                            <p>ROE (принос на сопствен капитал) </p>
                        </td>
                        <td>
                            <p>Показателот покажува колкав принос компанијата остварува од користењето на сопствениот капитал. Како солидна стапка на принос на сопствен капитал се смета над 12%. Повисоката стапка на принос на сопствен капитал означува дека компанијата континуирано вложува во профитабилни проекти</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Нето профитна маржа</p>
                        </td>
                        <td>
                            <p>Показателот покажува колку компанијата успева остварените приходи од продажба да ги претвори во нето добивка. Како солидна стапка на показателот се смета над 3,5%. </p>
                        </td>
                    </tr>
                    <tr class="gray">
                        <td>
                            <p>Долг / Капитал</p>
                        </td>
                        <td>
                            <p>Показателот го покажува односот помеѓу изворите на компанијата стекнати по пат на задолжување и по пат на сопственост. Колку износот на долгот е повисок во однос на капиталот, толку компанијата е понестабилна и понесигурна. Повисокиот коефициент на овој показател ја прави компанијата поризична.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Коефициент на задолженост</p>
                        </td>
                        <td>
                            <p>Показателот означува во колкав степен компанијата ги користи туѓите извори на средства за финансирање на своето работење. Како просечна задолженост на компанијата се смета до 60%. Колку компанијата е позадолжена, толку е понестабилна и поризична за соработка.</p>
                        </td>
                    </tr>
                    <tr class="gray">
                        <td>
                            <p>Вкупни обврски/EBITDA</p>
                        </td>
                        <td>
                            <p>Фактор на задолженост кој покажува колку години би биле потребни за да се подмират вкупните обврски на компанијата со остварената оперативна добивка и амортизација.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>DSCR ( покриеност на сервисирање на долгови)</p>
                        </td>
                        <td>
                            <p>Показател преку кој се мери способноста на компанијата да ги покрие тековните обврски со остварената оперативна добивка. Кога показателот е над 1, значи компанијата има доволно средства за исплата на краткорочните обврски</p>
                        </td>
                    </tr>
                    <tr class="gray">
                        <td>
                            <p>Показател за покриеност на каматата</p>
                        </td>
                        <td>
                            <p>Показателот покажува колку пати каматата е покриена од оперативната добивка на компанијата. Колку е поголем овој број, толку компанијата е постабилна.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Краткорочни кредити/Продажба</p>
                        </td>
                        <td>
                            <p>Покажува колкав процент од продажбата е потребен за намирување на краткорочните кредити. Колку е помала вредноста на показателот, толку помал дел краткорочните кредити зафаќаат од приходите од продажба.</p>
                        </td>
                    </tr>
                    <tr class="gray">
                        <td>
                            <p>Тековни обврски/Вкупна продажба</p>
                        </td>
                        <td>
                            <p>Показателот покажува колкав процент од остварените приходи од продажба се потребни за намирување на тековните обврски. Колку е помала вредноста на показателот, толку помал дел тековните обврски зафаќаат од приходите од продажба</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Кредитна изложеност од работењето</p>
                        </td>
                        <td>
                            <p>Показателот покажува колкав процент од остварените приходи од продажба се потребни за намирување на тековните обврски. Колку е помала вредноста на показателот, толку е помала кредитната изложеност од работењето на компанијата.</p>
                        </td>
                    </tr>
                    <tr class="gray">
                        <td>
                            <p>Бруто оперативна добивка</p>
                        </td>
                        <td>
                            <p>Претставува маржа која компанијата ја остварува од продажба на своите производи или услуги.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Нето добивка од финансирање</p>
                        </td>
                        <td>
                            <p>Претставува добивка која компанијата ја остварува како резултат на приходите и расходите од финансирање (камати, курсни разлики и др.)</p>
                        </td>
                    </tr>
                    <tr class="gray">
                        <td>
                            <p>EBITDA</p>
                        </td>
                        <td>
                            <p>Добивка која компанијата ја остварува од своето редовно работење зголемена за износот за амортизација.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>EBIT</p>
                        </td>
                        <td>
                            <p>Добивка која е резултат на редовното работење на компанијата.</p>
                        </td>
                    </tr>
                    <tr class="gray">
                        <td>
                            <p>Зелен семафор</p>
                        </td>
                        <td>
                            <p>Кај компанијата не се евидентирани проблеми во солвентноста од аспект на покрената претстечајна, стечајна или ликвидациона постапка. Исто така, не се евидентирани казни и санкции и компанијата нема блокада на сметка.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Жолт семафор</p>
                        </td>
                        <td>
                            <p>Компанијата е новооснована или се евидентирани активности кои можат да имааат влијание врз солвентноста на компанијата ( запрена постапка на претстечај, стечај или ликвидација).</p>
                        </td>
                    </tr>
                    <tr class="gray">
                        <td>
                            <p>Црвен семафор</p>
                        </td>
                        <td>
                            <p>Компанијата има поднесена празна годишна сметка или нема поднесено годишна сметка, има покрената претстечајна, стечајна или ликвидациона постапка или има блокада на сметка.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            <p>© CREDIT REPORT, all rights reserved</p>
            <p>www.targetgroup.mk, tel/fax: +389 (2) 3117 - 100</p>
        </div>
        <div class="img_wrapper">
            <img src="C:/Nix/Project/Bonitet.Web/Bonitet.Web//img/target_group.png">
        </div>
        <div class="pagination">
            <p>{PageNumber}</p>
        </div>
    </div>
</div>